<p id="notice"><%= notice %></p>

<h1 title="House title"><%= @house.title %></h1>
<p>
  <strong>Located in</strong>
  <%= @house.location %>
</p>

<p>
  <strong>Price:</strong>
  <%= @house.price %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @house.BedRooms %>
</p>

<p>
  <strong>Description:</strong>
  <%= @house.description %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
